<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Maze</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>

<body>
  <main>
<section class="hero is-primary is-medium">
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <div class="navbar-item">
            Team 3
          </div>
          <span class="navbar-burger" data-target="navbarMenuHeroA">
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroA" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item is-active" id="home" href="/views/layouts/main.handlebars">
              Home
            </a>
            <a class="navbar-item is-active" id="HighScores" href="/views/highScore.handlebars">
              HighScores
            </a>
            </span>
          </div>
        </div>
      </div>
    </nav>
    <script src="/js/navbar.js"></script>
  </div>
     
  </main>
        {{{body}}}
</body>

</html>