<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Maze</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
  <main>
<section class="hero is-primary is-medium">
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <div class="navbar-item">
            Team 3
          </div>
          <span class="navbar-burger" data-target="navbarMenuHeroA">
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroA" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item is-active" id="homeNavBtn">
              Home
            </a>
            <a class="navbar-item is-active" id="highscoresNavBtn">
              HighScores
            </a>
            {{!-- {{#if }} --}}
            <a class="navbar-item is-active" id="loginNavBtn">
              Login
            </a>
            {{!-- {{/f}} --}}
            </span>
          </div>
        </div>
      </div>
    </nav>
    <script src="/js/navbar.js"></script>
  </div>

  {{!-- Save HighScores Modal --}}
  <div class="modal" id="highscoreModal">
    <div class="modal-background"></div>
    <div class="modal-content">
      {{!-- Modal Content --}}
    </div>
    <button class="modal-close" aira-label="close"></button>
  </div>

  {{!-- Login Modal --}}
    <div class="modal" id="loginModal">
      <div class="modal-background"></div>
      <div class="modal-card">
        {{!-- Modal Header --}}
        <header class="modal-card-head">
          <p class="modal-card-title">Login</p>
          <button class="delete" aira-label="close"></button>
        </header>

        {{!-- Modal Content --}}
        <section class="modal-card-body">
          {{!-- Email Input --}}
          <div class="field">
            <p class="control has-icons-left">
              <input id="loginEmail" class="input" type="email" placeholder="Email">
              <span class="icon is-small is-left">
                <i class="fa-solid fa-envelope"></i>
              </span>
            </p>
          </div>

          {{!-- Password Input --}}
          <div class="field">
            <p class="control has-icons-left">
              <input id="loginPassword" class="input" type="password" placeholder="Password">
              <span class="icon is-small is-left">
                <i class="fa-solid fa-lock"></i>
              </span>
            </p>
          </div>

          {{!-- Create User Link --}}
          <a style="color: blue; text-decoration:underline">Don't have an account yet?</a>

        </section>

      {{!-- Modal Footer --}}
      <footer class="modal-card-foot">
        <button id="loginBtn" class="button is-success">Login</button>
        <button id="loginCancel" class="button is-success">Cancel</button>
      </footer>
      </div>
    </div>

  {{!-- SignUp Modal --}}
    <div class="modal" id="signupModal">
      <div class="modal-background"></div>
      <div class="modal-card">
        {{!-- Modal Header --}}
        <header class="modal-card-head">
          <p class="modal-card-title">Sign Up</p>
          <button class="delete" aria-label="close"></button>
        </header>

        {{!-- Modal Content --}}
        <section class="modal-card-body">
          {{!-- Name Input --}}
          <div class="field">
            <p class="control has-icons-left">
              <input id="signupName" class="input" type="text" placeholder="Name">
              <span class="icon is-small is-left">
                <i class="fa-solid fa-user"></i>
              </span>
            </p>
          </div>

          {{!-- Email Input --}}
          <div class="field">
            <p class="control has-icons-left">
              <input id="signupEmail" class="input" type="email" placeholder="Email">
              <span class="icon is-small is-left">
                <i class="fa-solid fa-envelope"></i>
              </span>
            </p>
          </div>

          {{!-- Password Input --}}
          <div class="field">
            <p class="control has-icons-left">
              <input id="signupPassword" class="input" type="password" placeholder="Password">
              <span class="icon is-small is-left">
                <i class="fa-solid fa-lock"></i>
              </span>
            </p>
          </div>

          {{!-- Login User Link --}}
          <a style="color: blue; text-decoration:underline">Don't have an account yet?</a>


        </section>

        {{!-- Modal Footer --}}
        <footer class="modal-card-foot">
          <button id="signupBtn" class="button is-success">Sign Up</button>
          <button id="signupCancel" class="button is-success">Cancel</button>
        </footer>
      </div>
    </div>

  </main>
        {{{body}}}
</body>

</html>