<div class="container.is-max-desktop is-relative is-flex is-justify-content-space-evenly is-flex-wrap-wrap mt-6">
    {{#each maps as |maze|}}
    <div class="column is-two-fifths">
        <div class="box">
            <h3 class="title">{{maze.name}}</h3>
            <div class="container">
                <button class="button is-success playBtn" maze_id={{maze.id}}>Play!</button>
                <button class="button is-success highscoreBtn" maze_id={{maze.id}}>Highscores</button>                
            </div>

        </div>

    </div>
    {{/each}}
    <script src="/js/gameSelect.js"></script>
</div>