<div class="container.is-max-desktop is-relative is-flex is-justify-content-space-evenly is-flex-wrap-wrap mt-6">
    {{#each maps as |maze|}}
    <div class="column is-two-fifths">
        <div class="box">
            <h3 class="title">{{maze.name}}</h3>
            <div class="container">
                <button class="button is-success" maze_id={{maze.id}}>Play!</button>
                <button class="button is-success highscoreBtn" maze_id={{maze.id}}>Highscores</button>                
            </div>

        </div>

    </div>
    {{/each}}
    {{!-- <div class="card">
        <figure>
           <img src="https://bulma.io/images/placeholders/256x256.png">
              <h4>Game description</h4>
                <p>lourskndasd dasfdjhdfgjahsjfdg  fkdsfksd</p>
                <button id="startOne">Start</button>
        </figure>
    </div>
    <div class="card">
            <figure>
           <img src="https://bulma.io/images/placeholders/256x256.png">
                <h4>Game description</h4>
                <p>lourskndasd dasfdjhdfgjahsjfdg  fkdsfksd</p>
                <button id="startTwo">Start</button>
        </figure>
    </div> --}}
    <script src="/js/gameSelect.js"></script>
</div>