
   <h1 class="title">High Scores</h1>
<div class="container.is-max-desktop is-flex is-flex-direction-row is-align-items-center is-justify-content-center">
      <div class="card">
        <figure>
           <img src="https://bulma.io/images/placeholders/256x256.png">
        </figure>
      </div>
    <div class="box m-5">
        <ol>
            <h2>Map 1</h2>
            <li>{user}{time}</li>
            <hr>
             <li>{user}{time}</li>
             <hr>
              <li>{user}{time}</li>
              <hr>
            <li>Mathew  Time: 1:20</li>
            <hr>
            <li>Michael Time: 1:30</li>
            <hr>
            <li>Anthony Time: 1:40</li>
            <hr>
            <li>Jessica Time: 1:50</li>
            <hr>
        </ol>
    </div>
    <div class="box m-5">
        <ol>
            <h2>Map 2</h2>
            <li>{user}{time}</li>
            <hr>
             <li>{user}{time}</li>
             <hr>
              <li>{user}{time}</li>
              <hr>
            <li>Mathew  Time: 1:20</li>
            <hr>
            <li>Michael Time: 1:30</li>
            <hr>
            <li>Anthony Time: 1:40</li>
            <hr>
            <li>Jessica Time: 1:50</li>
            <hr>
        </ol>
    </div>
    <div class="card">
        <figure>
           <img src="https://bulma.io/images/placeholders/256x256.png">
        </figure>
    </div>
</div>