
  <div class="container.is-max-desktop is-relative is-flex is-flex-direction-column is-justify-content-space-between is-align-items-center"
  style="height: 100vh;" id="room">
    <div class="buttons-top">
      <button class="button is-primary is-outlined is-rounded is-small">Top</button>
    </div>

    <div class="buttons is-flex is-justify-content-space-between" style="width: 100%;">
      <button class="button is-primary is-outlined is-rounded is-medium">Left</button>
      <figure class="image" style="width: 85vh;" style="height: 75vh;">
         <img src="https://bulma.io/images/placeholders/256x256.png">
      </figure>
      <button class="button is-primary is-outlined is-rounded is-large">Right</button>
    </div>

    <div class="buttons-bottom mb-6">
      <button class="button is-primary is-outlined is-rounded is-large">Bottom</button>
    </div>
  </div>
